# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

##### **Objectives:**
- List popular languages for data science.
- Learn arithematic expressions.
- Learn to use markdown cells with text formatting, inserting tables and ordered/unordered lists.

### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. SAS
5. TensorFlow

### Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. GGPlot2
3. Pandas
4. Matplotlib
5. Seaborn

| Data Science Tools |
|------------|
| Python |
| R |
| Jupyter Notebook |

### Below are a few examples of evaluating arithmetic expressions in Python:

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Manasa